<mat-card class="card">
  <mat-card-content>
    <div class="Order">
      <div class="cake-details">
        <img src="../../assets/{{ mycake.id }}.jpg" style="width:100%;height:50%">
        <div>
          <h2 style="color: deeppink;">Cake: {{ mycake.name }}</h2>
        </div>
        <div>
          <h3>Price: ₹{{ mycake.price }}</h3>
        </div>
        <h2>Select your cake quantity to be ordered</h2>
        <div class="quantity-buttons">
          <button mat-raised-button color="accent" class="Button" (click)="modified(1)">1kg</button>
          <button mat-raised-button color="accent" class="Button" (click)="modified(2)">2kg</button>
          <button mat-raised-button color="accent" class="Button" (click)="modified(3)">3kg</button>
          <button mat-raised-button color="accent" class="Button" (click)="modified(4)">4kg</button>
        </div>
        <div>
          <h2 style="padding-top: 10px;">Total: ₹{{ total }}</h2>
        </div>

        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="myorder.orderDate" [matDatepicker]="picker" placeholder="Order Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <input matInput #message maxlength="250" type="text" name="message" [(ngModel)]="myorder.message">
        </mat-form-field>
      </div>

      <div class="customer-details">
        <form class="example-form">
          <h2>Customer Details</h2>

          <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>First name</mat-label>
            <input matInput type="text" name="firstname" [(ngModel)]="myorder.name">
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width" style="width:100%">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Enter the address" type="text" name="address"
                [(ngModel)]="myorder.address"></textarea>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button color="primary" routerLink="viewcake"
              style="background-color:deeppink;float: right;" (click)="placeOrder()">Place Order</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>