<h2>My Orders</h2>
<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Cake Name</th>
      <th> Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of myorder" style="text-align: center;">
      <td>{{ order.id }}</td>
      <td>{{order.cakeName}}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.price }}</td>
      <td>{{order.address}}</td>
    </tr>
  </tbody>
</table>